:root {
    --light-gray: #c6c6c6;
}

body{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
   
}
.footer {
    text-align: center;
    height: fit-content;
    width: auto;
    padding: 1rem;
    background-color: var(--light-gray);
    position: relative; 
    bottom:0;
    margin-top: min(20rem);
}

ul li {
    display: inline;
    padding: 0.9rem;
    list-style-type: none;
    color: var(--color-dark);
}

a {
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-dark);
    text-decoration: none;
    text-align: center;
}

