@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Roboto:wght@500&display=swap');
*{
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header,section{
    margin-left: 1rem;
    margin-right: 1rem;
}

